.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  darkmagenta ;
  color: gainsboro
}
/* styles.css */
.homepage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  overflow-y: scroll;
}
.ucard {
  border: solid green 2px;
  font-size: 18px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

